<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{ site.who_am_i }} - {{ site.what_am_i }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen" />
</head>
<body>
	<div id="wrap">
		<div style="background-color: #ffcccc; text-align:center; border: 3px dashed red; font-size: 25px; padding: 30px;">
			<p><strong>This site is very outdated and is not currently maintained.</strong></p>
			<br>
			<p>
				For more up to date information visit
				<a href="https://www.axiomq.com/" style="font-weight: bold;">AxiomQ</a>
				or visit
				my <a href="http://www.linkedin.com/in/slobodankovacevic">Linkedin profile</a>.
			</p>
		</div>
		<br><br><br>
		<div id="header">
			<h1>
				{{ site.who_am_i }}
			</h1>
			<h2>
				{{ site.what_am_i }}
			</h2>
		</div>
		<div id="menu">
			<a href="http://orangeiceberg.com">Company</a>
			<a href="http://icebergist.com">Blog</a>
			<a href="http://orangeiceberg.com/contact">Contact</a>
		</div>

		{{ content }}

		<div id="footer">
			SlobodanKovacevic.com &copy; all rights reserved {{ site.time | date: "%Y" }}.
			|
			Icons by <a href="http://komodomedia.com">komodomedia</a>
			|
			Visit my company site <a href="http://orangeiceberg.com">Orange Iceberg web development</a>.
		</div>
	</div>

	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
	</script>
	<script type="text/javascript">
		_uacct = "UA-335452-8";
		urchinTracker();
	</script>
</body>
</html>
